<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Guitar Center</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/guitarListAndHeader.css}">

</head>

<body>
<div class="login-container">
    <h1>Login</h1>

    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/GuitarStore/login}" method="post" th:object="${loginRequest}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="*{username}" required/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" required/>

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a th:href="@{/GuitarStore/register}">Sign up</a></p>
</div>
</body>
</html>
